{% extends 'base.html.twig' %}

{% block title %}
    Категории - {{ parent() }}
{% endblock %}

{% block body %}
    {% for category in categories %}
       <p>
           <a href="{{ path("category_show", {'slug': category.slug}) }}" >{{ category.name }}</a>
       </p>
        <hr>
    {% endfor %}
{% endblock %}